<div class='footer'>
  <div class='footer-title'>CUENTA</div>
  <div class='footer-contents'>
    <div class='cuenta-details'>
      <h2 class='footer-content-head'>仮想通貨取引所</h2>
      <ul>
        <li><%= link_to 'BINANCE', "https://www.binance.com/ja", class: "footer-link", target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%= link_to 'Coincheck', "https://coincheck.com/ja/exchange/charts/coincheck/btc_jpy/3600", class: "footer-link", target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%= link_to 'bitFlyer', "https://bitflyer.com/ja-jp/", class: "footer-link", target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%= link_to 'DMM Bitcoin', "https://bitcoin.dmm.com/", class: "footer-link", target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%= link_to 'GMOコイン', "https://coin.z.com/jp/", class: "footer-link", target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%= link_to 'bitbank', "https://bitbank.cc/", class: "footer-link",target: :_blank, rel: "noopener noreferrer" %></li>
        <li><%= link_to 'bybit', "https://www.bybit.com/ja-JP/", class: "footer-link",target: :_blank, rel: "noopener noreferrer" %></li>
      </ul>
    </div>
    <div class='cuenta-details'>
      <h2 class='footer-content-head'>INFO</h2>
      <ul>
        <li><%= link_to '仮想通貨とは？', "#", class: "footer-link" %></li>
        <li><%= link_to 'ビットコインとは？', "#", class: "footer-link" %></li>
        <li><%= link_to 'アルトコインとは？', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cuenta-details'>
      <h2 class='footer-content-head'>ABOUT</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'CUENTA利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='cuenta-details'>
      <h2 class='footer-content-head'>SNS</h2>
      <ul>
        <li><%= link_to 'Twitter', "#", class: "footer-link" %></li>
        <li><%= link_to 'Instagram', "#", class: "footer-link" %></li>
        <li><%= link_to 'Facebook', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>