<div class='footerFixer'>
  <%= render "shared/second-header" %>
  <%= form_with(model: @asset, url: account_asset_path(@account, asset),local: true) do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        ASSETの変更
      </h1>
    </div>

    <%#= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">日付</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='date-select'>
          <%= raw sprintf(
                f.date_select(
                  :date,
                  selected: Date.today,
                  class:'date',
                  id:"date",
                  use_month_numbers: true,
                  prompt:'--',
                  start_year: 1930,
                  end_year: (Time.now.year),
                  date_separator: '%s'),
                "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">資産額</label>
      </div>
      <div class='record-space-form'>
        <%= f.number_field :amount, min: 0, class: 'input-amount', placeholder: "資産を記入する" %>
      </div>
    </div>
    <div class='register-btn'>
      <%= f.submit "変更" ,class:"register-blue-btn" %>
    </div>
    <div class='delete-btn'>
      <%#= link_to "削除", account_path(@account), method: :delete, class:"delete-gray-btn" %>
    </div>
  </div>
  <% end %>

  </div>
  <%= render "shared/footer" %>
</div>
