<%= render "shared/header" %>
<div class='main'>
  <div class='title-content'>
    <h3 class='title'>CUENTA</h3>
  </div>
  <div class='account'>
    <%# ユーザーがサインインしていたら、以下を表示する%>
    <% if user_signed_in? %>
    <ul class='account-lists'>
      <%# サインイン中のユーザーがaccountを持っていたら表示する%>
      <% if Account.where(user_id: current_user.id).exists? %>
      <%#= render partial: 'account', collection: @accounts%>
      <% @accounts.each do |account| %>
        <%# クリックして詳細画面に飛ぶようにする%>
        <li class='list'>
        <%= link_to account_path(account.id), class: 'link-to-show' do %>
          <div class='account-title'>
            <h2 class='account-name'>
              <%= account.name %>
            </h2>
          </div>
          <div class='info'>
            <div class='account-asset'>
              <div>
                <h2 class='asset-title'>総資産</h2>
              </div>
              <div class='asset'>
                <h1>資産-------¥<%= Asset.where(account_id: account.id).last(1).pluck(:amount) %></h1>
              </div>
              <div class='deposit'>
                <h1>投資額-------¥ 320,000</h1>
              </div>
            </div>
            <div class='account-profit'>
              <div>
                <h2 class='profit-title'>利益</h2>
              </div>
              <div class='price'>
                <h1>利益----------¥ 180,000</h1>
              </div>
              <div class='percent'>
                <h1>利益率---------- 56.25%</h1>
              </div>
            </div>
          </div>
        <% end %>
        </li>
      <% end %>
      <%# /サインイン中のユーザーがaccountを持っていたら表示する%>
      <% else %>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>CUENTAを作成しましょう</h2>
        </div>
        <div class='info'>
          <div class='account-asset'>
            <div>
              <h2 class='asset-title'>総資産</h2>
            </div>
            <div class='asset'>
              <h1>資産----------¥ 500,000</h1>
            </div>
            <div class='deposit'>
              <h1>投資額-------¥ 320,000</h1>
            </div>
          </div>
          <div class='account-profit'>
            <div>
              <h2 class='profit-title'>利益</h2>
            </div>
            <div class='price'>
              <h1>利益----------¥ 180,000</h1>
            </div>
            <div class='percent'>
              <h1>利益率---------- 56.25%</h1>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <%# /ユーザーがサインインしていたら、以上を表示する%>
    <% else %>
    <ul class='account-lists'>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>新規登録をして資産を管理しよう</h2>
        </div>
        <div class='info'>
          <div class='account-asset'>
            <div>
              <h2 class='asset-title'>総資産</h2>
            </div>
            <div class='asset'>
              <h1>資産----------¥ 500,000</h1>
            </div>
            <div class='deposit'>
              <h1>投資額-------¥ 320,000</h1>
            </div>
          </div>
          <div class='account-profit'>
            <div>
              <h2 class='profit-title'>利益</h2>
            </div>
            <div class='price'>
              <h1>利益----------¥ 180,000</h1>
            </div>
            <div class='percent'>
              <h1>利益率---------- 56.25%</h1>
            </div>
          </div>
        </div>
      </li>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>（例）積みてNISAアカウント</h2>
        </div>
        <div class='info'>
          <div class='account-asset'>
            <div>
              <h2 class='asset-title'>総資産</h2>
            </div>
            <div class='asset'>
              <h1>資産----------¥ 100,000</h1>
            </div>
            <div class='deposit'>
              <h1>投資額-------¥ 50,000</h1>
            </div>
          </div>
          <div class='account-profit'>
            <div>
              <h2 class='profit-title'>利益</h2>
            </div>
            <div class='price'>
              <h1>利益----------¥ 50,000</h1>
            </div>
            <div class='percent'>
              <h1>利益率---------- 100%</h1>
            </div>
          </div>
        </div>
      </li>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>（例）FXアカウント</h2>
        </div>
        <div class='info'>
          <div class='account-asset'>
            <div>
              <h2 class='asset-title'>総資産</h2>
            </div>
            <div class='asset'>
              <h1>資産----------¥ 40,000</h1>
            </div>
            <div class='deposit'>
              <h1>投資額-------¥ 50,000</h1>
            </div>
          </div>
          <div class='account-profit'>
            <div>
              <h2 class='profit-title'>利益</h2>
            </div>
            <div class='price'>
              <h1>利益----------¥ -10,000</h1>
            </div>
            <div class='percent'>
              <h1>利益率---------- -20%</h1>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
  <%# ニュースをどっかから持ってくる %>
  <div class='topics'>
    <div class='topics-card'>
      <div class='topic-image'>
        <div class='topictitle'>
        </div>
      </div>
    </div>
  </div>
  <%# /ニュースをどっかから持ってくる %>
</div>
<%= render "shared/footer" %>