<%= render "shared/header" %>
<div class='main'>
  <div class='title-content'>
    <h3 class='title'>CUENTA</h3>
  </div>
  <div class='account'>
    <%# ユーザーがサインインしていたら、以下を表示する%>
    <% if user_signed_in? %>
    <ul class='account-lists'>
      <%# サインイン中のユーザーがaccountを持っていたら表示する%>
      <% if Account.where(user_id: current_user.id).exists? %>
      <%#= render partial: 'account', collection: @accounts%>
      <% @accounts.each do |account| %>
        <%# クリックして詳細画面に飛ぶようにする%>
        <li class='list'>
        <%= link_to account_path(account.id), class: 'link-to-show' do %>
          <div class='account-title'>
            <h2 class='account-name'>
              <%= account.name %>
            </h2>
            <h1 class='list-info'>
              <%= account.info %>
            </h1>
          </div>
        <% end %>
        </li>
      <% end %>
      <%# /サインイン中のユーザーがaccountを持っていたら表示する%>
      <% else %>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>CUENTAを作成しましょう</h2>
          <h1 class='list-info'>アカウントの説明を登録するとここに表示されます</h1>
        </div>
      </li>
      <% end %>
    </ul>
    <%# /ユーザーがサインインしていたら、以上を表示する%>
    <% else %>
    <ul class='account-lists'>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>新規登録をして資産を管理しよう</h2>
          <h1 class='list-info'>アカウントの説明を登録するとここに表示されます</h1>
        </div>
      </li>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>（例）積みてNISAアカウント</h2>
          <h1 class='list-info'>2020年4月　開始</h1>
        </div>
      </li>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>（例）FXアカウント</h2>
        </div>
      </li>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>（例）ビットコインアカウント</h2>
          <h1 class='list-info'>2020/01/01 100万円分購入</h1>
        </div>
      </li>
      <li class='list'>
        <div class='account-title'>
          <h2 class='account-name'>（例）CUENTA株</h2>
          <h1 class='list-info'>2020年6月　購入</h1>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>