<%= render "shared/header" %>
<div class='main'>
  <div class='show-title-content'>
    <div class='title-content'>
      <h3 class='title'>
        <%= @account.name %>
      </h3>
    </div>
    <div>
      <%= link_to '編集/削除', edit_account_path(@account.id), class: "edit-btn" %>
    </div>
  </div>
  <% if @account.info.present? %>
  <div class='account-info'>
    <%= '概要 : ' + @account.info %>
  </div>
  <% end %>
  <div class='show-account'>
    <div class='info'>
      <div class='account-asset'>
        <div>
          <h2 class='asset-title'>総資産</h2>
        </div>
        <div class='show-asset'>
          <h1>資産------¥ <%= @last_asset.amount %></h1>
        </div>
        <div class='show-deposit'>
          <h1>投資額---¥ <%= @last_movement.amount %></h1>
        </div>
      </div>
      <div class='account-profit'>
        <div>
          <h2 class='profit-title'>利益</h2>
        </div>
        <div class='show-price'>
          <h1>利益----------¥ 180,000</h1>
        </div>
        <div class='show-percent'>
          <h1>利益率---------- 56.25%</h1>
        </div>
      </div>
    </div>
  </div>
  <div class='record-space'>
    <div class='record-area'>
      <div>
        <h2 class='record-space-title'>資産記録</h2>
      </div>
      <div class='record-form'>
        <%= form_with(model: [@account, @asset], local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object, class: 'asset-form-error-message' %>
        <div class='date-select'>
          <%= raw sprintf(
                f.date_select(
                  :date,
                  selected: Date.today,
                  class:'date',
                  id:"date",
                  use_month_numbers: true,
                  prompt:'--',
                  start_year: 1930,
                  end_year: (Time.now.year),
                  date_separator: '%s'),
                "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
        <div class='record-space-form'>
          <%= f.number_field :amount, min: 0, class: 'input-amount', placeholder: "資産を記入する" %>
        </div>
        <div class='record-space-form'>
          <%= f.submit "OK", class: 'create-record-btn' %>
        </div>
        <% end %>
      </div>
      <div class='asset-record'>
        <ul class='asset-record-lists'>
          <div class='record-info'>
            <div>
              <h2 class='create-date'>日付</h2>
            </div>
            <div>
              <h2 class='record-price'>金額</h2>
            </div>
          </div>
          <% if @account.assets.present? %>
          <%= render partial: 'asset', collection: @assets %>
          <% else %>
          <li class='record-list'>
            <div class='record-info'>
              <div>
                <h2 class='create-date'>日付</h2>
              </div>
              <div>
                <h2 class='record-price'>金額</h2>
              </div>
            </div>
          </li>
          <li class='record-list'>
            <div class='record-info'>
              <div>
                <h2 class='create-date'>2021/02/02</h2>
              </div>
              <div>
                <h2 class='record-price'>¥  200,000</h2>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='record-area'>
      <div>
        <h2 class='record-space-title'>投資記録</h2>
      </div>
      <div class='record-form'>
        <%= form_with(model: [@account, @movement], local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object, class: 'asset-form-error-message' %>
        <div class='date-select'>
          <%= raw sprintf(
                f.date_select(
                  :date,
                  selected: Date.today,
                  class:'date',
                  id:"date",
                  use_month_numbers: true,
                  prompt:'--',
                  start_year: 1930,
                  end_year: (Time.now.year),
                  date_separator: '%s'),
                "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
        <div class='record-space-form'>
          <%= f.number_field :amount, min: 0, class: 'input-amount', placeholder: "投資額を記入する" %>
        </div>
        <div class='record-space-form'>
          <%= f.submit "OK", class: 'create-record-btn' %>
        </div >
        <% end %>
      </div>
      <div class='asset-record'>
        <ul class='asset-record-lists'>
          <div class='record-info'>
            <div>
              <h2 class='create-date'>日付</h2>
            </div>
            <div>
              <h2 class='record-price'>金額</h2>
            </div>
          </div>
          <% if @account.movements.present? %>
          <%= render partial: 'movement', collection: @movements %>
          <% else %>
          <li class='record-list'>
            <div class='record-info'>
              <div class='create-date'>
                <h2 class='date'>日付</h2>
              </div>
              <div class='record-price'>
                <h2 class='record-num'>¥  金額</h2>
              </div>
            </div>
          </li>
          <li class='record-list'>
            <div class='record-info'>
              <div class='create-date'>
                <h2 class='date'>2021/02/07</h2>
              </div>
              <div class='record-price'>
                <h2 class='record-num'>¥  50,000</h2>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
